<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<div class="container">
    <% categories.forEach(item => { %>
    <div class="card" style="width: 18rem;">
        <a href="/category/<%= item.strCategory %>"><img src="<%= item.strCategoryThumb %>" class="card-img-top"></a>
        <div class="card-body text-center text-capitalize font-weight-bold">
            <a href="/category/<%= item.strCategory %>"><h5 class="card-title"><%= item.strCategory %></h5></a>
        </div>
    </div>
    <% });%>
</div>
<%- include partials/footer.ejs %>